Web.Publish.xml
build/
release/
*.suo
*.sln.ide/
*.user
bin
Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
src/TestResults/
TestResult.xml
*.trx
*.log
*.orig
_isconfig.xml
Express/
*.msi
setup.exe